*

:root {

 --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* styling selected content with the color below */

::selection {
    background-color: rgb(226, 226, 222);
}

/* style body */

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #CFCFCF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

 /* makes avatar rounded */ 

    .avatar {
        border-radius: 50%;
        overflow: hidden;
    }

/* style hero section text */

.hero h2, p {
    color:black;
}

/* style text in about me section */

.skills-comment {
    font-size:smaller;
}

.list {
    display: inline;
}


.about-me-text {
    text-wrap: wrap;
}

/* style cards in work section */

.card {
    background-color: transparent;
    border: none;
}

/* adds shadow around cards */

.card:hover {
    box-shadow: 0 0 50px black;

}

/* style contact me section */

.contact-li {
    display: inline;
}

.contact-li a:hover {
    color:blanchedalmond;
}

.contact-section a {
    text-decoration: none;
}
    
/* footer links and text style */

    a {
        color: black;
    }


 .footer-text {
    font-size: x-small;
 }

.home-link a {
    color:black;
}

.home-link a:hover {
    color:blanchedalmond;
}

  .footer-link {
    font-size: x-small;
  }

  .footer-link a {
    color:black;
  }

  .footer-link a:hover {
    color:blanchedalmond; !important
  }