*

:root {

 --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

::selection {
    background-color: rgb(226, 226, 222);
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #CFCFCF;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

  
    .avatar {
        border-radius: 50%;
        overflow: hidden;
    }

/*style hero section text*/
.hero h2, p {
    color:black;
    text-shadow: ;
}


.skills-comment {
    font-size:smaller;
}

.list {
    display: inline;
}


.about-me-text {
    text-wrap: wrap;
}

.card {
    background-color: transparent;
    border: none;
}

.card:hover {
    box-shadow: 0 0 50px black;

}

.contact-li {
    display: inline;
}

.contact-li a:hover {
    color:blanchedalmond;
}

.contact-section a {
    text-decoration: none;
}
    /* footer style */

    a {
        color: black;
    }


 .footer-text {
    font-size: x-small;
 }

.home-link a {
    color:black;
}

.home-link a:hover {
    color:blanchedalmond;
}


  .footer-link {
    font-size: x-small;
  }

  .footer-link a {
    color:black;
  }

  .footer-link a:hover {
    color:blanchedalmond; !important
  }